body {
  background-image: url("background1.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
}

li {
  padding-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.topnav a {
  float: inline-start;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  width: 383px;
  font-family: "Horizon";
}

.text {
  position: absolute;
  left: 930px;
  top: calc(50% + 110px);
  font-size: 28px;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 10px;
  height: 120px;
  width: 120px;
  right: 500px;
}

.img1 {
  position: absolute;
  top: 50%;
  right: 430px;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  background-color: #860000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.img2 {
  position: absolute;
  top: 50%;
  right: 265px;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  background-color: #860000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.img3 {
  width: 130px;
  height: 130px;
  background-color: #860000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.button {
  background-color: #860000;
  height: 30px;
  width: 50px;
  position: absolute;
  size: 70px;
  left: 1100px;
  top: calc(50% + 220px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  body {
    height: auto;
    width: 100%;
    background: url("background1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
  }

  li {
    padding: 5px;
    padding-right: 80px;
    width: 100%;
  }

  .topnav a {
    font-size: 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav {
    position: absolute;
    left: 650px;
    padding: 80px;
    font-size: 40px;
    width: 100%;
  }

  .img1 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 630px;
    top: 620px;
  }

  .img2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 850px;
    top: 620px;
  }

  .img3 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 750px;
    top: 830px;
  }

  .text {
    top: 980px;
    position: absolute;
    transform: translateX(10%);
    left: 600px;
    display: flex;
    width: 500px;
    margin: 0%;
    justify-content: left;
    font-size: 28px;
  }

  .button {
    background-color: #860000;
    height: 50px;
    width: 80px;
    position: absolute;
    size: 70px;
    left: 800px;
    top: 1100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    height: auto;
    width: 100%;
    background: url("background1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
  }

  li {
    padding: 5px;
    padding-right: 150px;
    width: 100%;
  }

  .topnav a {
    font-size: 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav {
    position: absolute;
    left: 650px;
    padding: 80px;
    font-size: 40px;
    width: 100%;
  }

  .img1 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 700px;
    top: 620px;
  }

  .img2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 950px;
    top: 620px;
  }

  .img3 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    left: 830px;
    top: 850px;
  }

  .text {
    top: 980px;
    position: absolute;
    transform: translateX(10%);
    left: 690px;
    display: flex;
    width: 500px;
    margin: 0%;
    justify-content: left;
    font-size: 28px;
  }

  .button {
    background-color: #860000;
    height: 50px;
    width: 80px;
    position: absolute;
    size: 70px;
    left: 885px;
    top: 1100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

